[submodule "packages/server"]
	path = packages/server
	url = https://github.com/kikogilabert/repo_back_actividadesSubmodulos
[submodule "packages/app"]
	path = packages/app
	url = https://github.com/kikogilabert/repo_front_actividadesSubmodulos
